h3 {
	margin: 20px;
	color: #e2bf3d;
	font-family: Helvetica, Arial, Times, sans-serif;
	font-size: 1.5em;
}

#sort-select {
	display: flex;
	flex-wrap: wrap;
}

#sort-select span {
	display: flex;
	flex-wrap: nowrap;
}

select, input {
	margin: 20px;
	max-height: 30px;
	background: #e2bf3d;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

input {
	max-width: 100px;
}

#sort-btn {
	margin-bottom: 20px;
	margin-left: 30px;
	width: 200px;
}

#hat-button {
	margin: 20px 0;
	width: 50px;
}

#sort-btn, #hat-button {
	background: #e2bf3d;
	border: none;
	padding: 5px;
	border-radius: 10px;
}

#sort-btn, #hat-button:hover {
	cursor: pointer;
}
