#sort-menu {
	border: 1px solid #e2bf3d;
	border-radius: 10px;
	max-width: 100%;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}




h3, label {
	color: #e2bf3d;
	font-family: Helvetica, Arial, Times, sans-serif;
}

h3 {
	margin: 20px;
	font-size: 1.5em;
}


select, input {
	margin: 20px;
	max-height: 30px;
	background: #e2bf3d;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

input {
	max-width: 100px;
}

#sort-btn {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 200px;
	border-radius: 10px;
}


#sort-btn, #hat-button {
	background: #e2bf3d;
	border: none;
}

#hat-button {
	margin-left: -10px;
	border-radius: 5px;
	border-left: 1px solid black;
	width: 50px;
}


#sort-btn, #hat-button:hover {
	cursor: pointer;
}
